[Unit]
Description=Dune Unified Navigation Environment service
After=network.target @SERVICEDEPS@

[Service]
Type=simple
ExecStart=@BINDIR@/dune -p @DUNEPROFILE@ -c @DUNECFG@ -m

[Install]
WantedBy=multi-user.target
